.scaun {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid black;
    padding: 15px 0px;
}

.scaun:nth-child(2n) {
    margin-right: 100px;
}

.scaun:hover {
    cursor: pointer;
}

.occupied {
    background-color: red;
    color: white;
}

.free {
    background-color: greenyellow;
}

.lista--scaune--container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Patru coloane */
    gap: 10px; /* Spațiu între coloane */
    max-width: 400px;
    margin-top: 40px;
    margin-left: 40px;
    padding: 10px;
}

.selected {
    background-color: yellow;
}



