/* Traseu.css nou*/

.traseu--container {
    position: relative;
    width: 400px;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #1a1d61;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.traseu--container:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.oras {
    font-size: 18px;
    margin: 15px 0;
    color: #333;
    font-weight: 600;
}

.oras:first-child, .oras:last-child {
    color: #1a1d61;
    font-weight: 800;
}

.add-button {
    position: absolute;
    right: 20px;
    top: 100px;
    height: 60px;
    width: auto;
}

.add-button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.trash {
    display: none;
    position: absolute;
    height: 60px;
    width: auto;
    right: 10px;
    top: 10px;
}

.trash:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.traseu--container:hover .trash {
    display: block;
}

