

.profile--tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

/*.profile--tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    margin-top: 50px;
}*/

.profile--tab2 {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #1a1d61; /* modificare culoare border */
    border-radius: 5px;
    width: 400px;
    margin-top: -30px;
    transition: all 0.3s ease; /* adăugare tranziție pentru o animație mai fluidă */
    z-index: 3;
    background-color: white;
}


.profile--tab1 {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #1a1d61; /* modificare culoare border */
    border-radius: 5px;
    width: 400px;
    margin-top: -30px;
    transition: all 0.3s ease; /* adăugare tranziție pentru o animație mai fluidă */
    z-index: 3;
    background-color: white;
    max-height: 300px;
}

.rezervari-container {
    display: inline-flex; /* Elemente afișate pe același rând */
  }

  .rezervare-wrapper {
    display: flex; /* Afișează rezervarea pe întreaga lățime a containerului */
    transition: transform 0.5s ease; /* Efect de tranziție pentru navigare */
  }
  
  .navigation-buttons {
    margin-top: 10px; /* Spațiu între butoane și rezervare */
  }
  
  .navigation-buttons button {
    font-size: 24px; /* Mărimea fontului pentru butoane */
  }


